<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756281753615-0139herc8bg23jj8o3omfsemrogm8ind.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756281753615-0139herc8bg23jj8o3omfsemrogm8ind</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>756281753615-rkfmov5qtvsn40tfqtmrn0kms6n37mjm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ5r_AFcUU_xYSFCftjcC4uGf-yffiUZc</string>
	<key>GCM_SENDER_ID</key>
	<string>756281753615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aait.nokhba</string>
	<key>PROJECT_ID</key>
	<string>nokhba-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nokhba-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756281753615:ios:e275d9368707bd3642637a</string>
	<key>DATABASE_URL</key>
	<string>https://nokhba-mobile-app.firebaseio.com</string>
</dict>
</plist>